include comfy_kitchen/backends/hip/CMakeLists.txt
recursive-include comfy_kitchen/backends/hip *.cpp *.h *.hip *.in *.json
include comfy_kitchen/backends/cuda/CMakeLists.txt
recursive-include comfy_kitchen/backends/cuda *.cpp *.h *.cu *.cuh *.in *.json
